body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FCFEFF;
    font-family: var(--font-family);
}

main {
    display: flex;
    justify-content: center;
    gap: 90px;
    width: 70%;
    height: 60%;

}

section {
    width: 40%;
    min-width: 400px;
}

.container_petinfo {
    margin-top: 100px;
}

.container_cadastro {
    height: 600px;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_tituloCadastro_btVoltar {
    width: 321px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.titulo_cadastro {
    color: #1E1E1E;
    font-weight: 500;
    font-size: 20px;
}

.bt_valtar {
    width: 140px;
    height: 31px;
    font-weight: 500;
    font-size: 14px;
    color: #212529;
    font-family: var(--font-family);
    background-color: transparent;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #212529;
}

input {
    width: 321px;
    height: 34px;
    background: #F8F9FA;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    margin-bottom: 20px;
    padding-left: 15px;
}

input::placeholder {
    font-size: 16px;
    font-family: var(--font-family);
    color: #868E96;
}

.senha_incorreta {
    font-weight: 400;
    font-size: 14px;
    color: #C73650;
    margin-left: -180px;
    margin-bottom: 20px;
}

.bt_login {
    width: 321px;
    height: 35px;
    background: #364FC7;
    border: 1px solid #364FC7;
    border-radius: 4px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FCFEFF;
    margin-bottom: 20px;
}

.texto_nao_possui_conta {
    font-weight: 500;
    font-size: 14px;
    color: #212529;
    margin-bottom: 20px;
}

.texto_se_cadastrar_rapidamente {
    width: 321px;
    font-weight: 400;
    font-size: 14px;
    color: #495057;
}

.texto_centralizado {
    text-align: center;
    margin-bottom: 20px;
}

.bt_cadastrar {
    width: 321px;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--font-family);
    background: #364FC7;
    border: 1px solid #364FC7;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #FCFEFF;

}

.bt_voltarLogin {
    width: 321px;
    height: 35px;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--font-family);
    background-color: transparent;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    color: #212529;
}


.tilulo_petinfo {
    color: #212529;
    font-size: 32px;
    margin-bottom: 25px;
}

.titulo_amor_carinho {
    width: 391px;
    font-size: 32px;
    color: #212529;
    margin-bottom: 25px;
}

.texto_cor_azul {
    color: #364FC7;
}

.texto_informacoes {
    width: 320px;
    font-size: 16px;
    color: #495057;
    margin-bottom: 20px;
}

.container_imagens {
    display: flex;
    align-items: center;
    gap: 15px;
}

.container__imagem_2pets {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.container_toast {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 30px;
    bottom: 10px;
    width: 441.73px;
    height: 125px;
    padding: 20px;
    background: #FCFEFF;
    box-shadow: 0px 4px 30px -12px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    animation: toastInt 4000ms ease-in forwards;
    display: none;
}

@keyframes toastInt {
    0%   {right: 30px; bottom: -100px}
    25%  {right: 30px; bottom: 10px}
    /* 50%  {right: 30px; bottom: 10px} */
    /* 100% {right: 30px; bottom: -120px} */
}

.container_imgCheck_h3 {
    display: flex;
    gap: 15px;
}

.bt_imagem {
    width: 24px;
    height: 24px;
    background-image: url(/src/img-cadastro/check.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #087F5B;
    border: transparent;
    border-radius: 50%;
}

.titulo {
   
    font-weight: 500;
    font-size: 16px;
    color: #087F5B;
    margin-bottom: 20px;
}

.texto {

    width: 377.73px;
    font-weight: 400;
    font-size: 14px;
    color: #343A40;
}

.texto>a {
    color: #364FC7;
}